<%-include("partials/header")-%>
<div class="container">
    <h1 style="text-align: center; margin: 20px;"><%=title%></h1>
    <p><%=content%></p>
    <p>By- <%=name%></p>
</div>
<%-include("partials/footer")-%>
